In [4]:
%load_ext autoreload
%autoreload 2

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [10]:
from get_data import get_data

In [11]:
get_data("q7d6-ambg")

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

,account_number,house_number,street_name,garage,neighbourhood_id,neighbourhood,ward,assessed_value,latitude,longitude,...,:@computed_region_7ccj_gre3,:@computed_region_ecxu_fw7u,:@computed_region_izdr_ja4x,:@computed_region_5jki_au6x,:@computed_region_mnf4_kaez,suite,tax_class_pct_2,mill_class_2,tax_class_pct_3,mill_class_3
0,1194976,15927,88A AVENUE NW,Y,4310,MEADOWLARK PARK,sipiwiyiniwak Ward,336000,53.5224970838542,-113.59797430793354,...,27,99,5,4,1,NaN,NaN,NaN,NaN,NaN
1,1034339,9420,92 STREET NW,N,6710,STRATHEARN,Métis Ward,49836000,53.53094866121484,-113.46927857387664,...,342,126,4,5,11,NaN,NaN,NaN,NaN,NaN
2,1115245,15015,75 AVENUE NW,Y,4430,RIO TERRACE,sipiwiyiniwak Ward,669500,53.50787175287048,-113.58094456673385,...,68,16,5,4,8,NaN,NaN,NaN,NaN,NaN
3,1012293,15112,45 AVENUE NW,Y,5340,RAMSAY HEIGHTS,pihêsiwin Ward,268500,53.48456049274555,-113.58191288991183,...,72,178,6,6,12,NaN,NaN,NaN,NaN,NaN
4,1191832,9311,175 AVENUE NW,Y,2450,LAGO LINDO,tastawiyiniwak Ward,358500,53.636637322100476,-113.4851395546046,...,299,190,1,2,6,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1098227,17728,91 STREET NW,Y,2450,LAGO LINDO,tastawiyiniwak Ward,319000,53.64018967358675,-113.47961445662091,...,299,190,1,2,6,NaN,NaN,NaN,NaN,NaN
1996,1217223,8713,164A STREET NW,Y,4590,WEST MEADOWLARK PARK,sipiwiyiniwak Ward,314000,53.52119994201997,-113.60536556289283,...,92,93,5,4,1,NaN,NaN,NaN,NaN,NaN
1997,1038793,10549,87 AVENUE NW,N,5480,STRATHCONA,papastew Ward,262000,53.52226659841293,-113.50285323700305,...,315,9,6,5,11,104,NaN,NaN,NaN,NaN
1998,1201136,5414,188 STREET NW,Y,4220,JAMIESON PLACE,sipiwiyiniwak Ward,328000,53.49136251598194,-113.6478415981754,...,399,26,5,4,8,NaN,NaN,NaN,NaN,NaN
1999,1109214,15402,74 AVENUE NW,Y,4430,RIO TERRACE,sipiwiyiniwak Ward,700000,53.50686361585233,-113.5850901718782,...,68,16,5,4,8,NaN,NaN,NaN,NaN,NaN